body {
  font-family: Arial, sans-serif;
  background-color: #e1e51f;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

/* .number-entry-widget {
  display: flex;
  align-items: center;
}

input[type="number"] {
  width: 50px;
  text-align: center;
} */