<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>Points tracking application</h1>
    
    <div class = "regisertaion">
            <label for="username">Name:</label>
            <input type="text" id="username" placeholder="Enter a new name" size="20" maxlength="20" required>
        <button class="button-6" role="button" id = "register">Register</button>
        <label id = "successMessage"></label>
    </div>
    
    <div class = "Drop-Down">
        <label for="dropdown">Select an option:</label>
        <select id="dropdown" name="dropdown"></select>
    </div>
    
    <div class="number-entry-widget">
        <button id="decrement">-</button>
        <input type="number" id="number" min="0" max="10" value="0">
        <button id="increment">+</button>
    </div>
    
    <button class="button-6" role="button" id = "sendNumber">Enter</button>
    <!-- Canvas for the bar graph -->
    <div class = "chart">
        <canvas id="myChart" width="50" height="300"></canvas>
        
    </div>
</body>
</html>